/* .login-container{
    display: block;
    background-color: aliceblue;
    align-items: center;
    margin-left: 500px;  
    width: 40%; 
    margin-top: 100px;
    margin-right: 100px; 
    object-fit: contain; 
    border-radius:2px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-indent: 60px;
} */

.login__logo{
    margin-top: 10px;
    object-fit: contain;
    height: 60px;
    width: 60px;
    margin-left: 48%;
    align-items: center;
    
}
.sign_in{
    text-indent: 30%;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;


}

.login__container > form> input{
    width: 98%;
    height: 20px;

    
}
.login__signInButton{
    margin-top: 30px;
    background-color: rgb(150, 3, 218);
    border-radius: 4px;
    width: 30%;
    margin-left: 35%;
    line-height: 25px;
    text-align: center;
    font-size: large;
    font-weight: 600;
    color: white;
    border: 0;

    

}
.login__registerButton{
    margin-top: 0px;
    background-color: rgb(150, 3, 218);
    border-radius: 4px;
    border:2px;
    border-color: aliceblue;
    margin-bottom: 2px;
    width: 70%;
    margin-left: 18%;
    line-height: 25px;
    text-align: center;
    font-size: medium;
    font-weight: 600;
    border: 0;
    color: white;
    margin-top: 0;

    

}
.login__body{

    display: flex;
    flex-direction: column;
    margin-top: 200px;
    padding-top: 10px;
}
.login__container{
     height: fit-content;
     width: 300px;
     display: flex;
     flex-direction: column;
     border-radius: 5px;
     padding: 10px;
     border: 1px solid;
     color: rgb(255, 255, 255);
     background-color: rgb(59, 0, 107);
     border-color: rgba(240, 248, 255, 0.473);
     margin-bottom: 20px;
     object-fit: contain;
     

}
.login__container>  form > h1{
    align-items: center;
    text-align: left;
}
.login__container> form > h5{
    margin-bottom: 2px;;
}
.login__container > p{
font-size: small;
}

input{
    background-color: rgb(230, 177, 255);
    border-radius: 2px;
    border:0px
}

input::after{
    border: 1px;
    border-width: 1px;
    border-style: ridge;
}

